body {
  font-family: Helvetica;
  text-align: center;
}

.home {
  font-size: 70px;
  font-weight: bold;
  color: white;
  background-image: url("../images/the-flatiron-building.png");
}

a {
  color:white;
}

#nav {
  position: relative;
  font-size: 18px;
}

.section{
  text-align: center;
  color:black;
}

#designedny {
  font-size: 23px;
  font-weight: bold;
  background-image: url("../images/the-flatiron-building.png");
}

footer {
  text-align: left;
  font-size: 11px;
  background-color: dimgray;
}
